<!DOCTYPE html>
<html>
	<head>
		<title>nicole lin</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
			<li><a href="/">about</a></li>
	        	<li><a href="/projects">projects</a></li>
        		<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>hello, i'm nicole!</h1>
				<p>want to learn more about me and my projects? <br> you've come to the right place!</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/nicoleslin">github</a></li>
			<li><a href="https://www.linkedin.com/in/nicoleslin/">linkedin</a></li>
			</ul>
		</footer>
	</body>
</html>
